<nav class="comic-nav">
    <ul>
        <li class="first"><a href="#">
            <span class="fa fa-arrow-circle-left"></span> First
        </a></li>
        <li class="prev"><a href="#">
            <span class="fa fa-chevron-circle-left"></span> Prev
        </a></li>
        <li class="rand"><a href="#">
            <span class="fa fa-dot-circle-o"></span> Random
        </a></li>
        <li class="next"><a href="#">
            <span class="fa fa-chevron-circle-right"></span> Next
        </a></li>
        <li class="last"><a href="#">
            <span class="fa fa-arrow-circle-right"></span> Last
        </a></li>
    </ul>
</nav>
