{{!< default}}
{{#post}}
<div class="page-wrapper">
    <header class="post-header">
        <h3>{{title}}</h3>
    </header>
    <div class="post-content">
        {{{content}}}
    </div>
    {{#if tags}}
        <div class="tags">{{tags}}</div>
    {{/if}}
</div>
{{/post}}
